{% extends "base.html" %}
{% block title %}cat history{% endblock %}
{% block content %}



<!DOCTYPE html>

<html>
<head>
<style>
body {
  background-color:#E7E9EB;
}
#myDIV {
  height:300px;
  background-color:#FFFFFF;
  text-align: center;
}
</style>
</head>
<body>



<div id="myDIV">


<head>
<link rel="stylesheet" href='/static/style.css' />
<h1>A brief history of cats</h1>
<p>On any of the surprising number of Web sites dedicated entirely to wisdom about cats, one will find quotations like these: "As every cat owner knows, nobody owns a cat" (attributed to Ellen Perry Berkeley); "The phrase 'domestic cat' is an oxymoron" (attributed to George F. Will); and "A dog is a man's best friend. A cat is a cat's best friend" (attributed to Robet J. Vogel). Of course, there is such a thing as the domestic cat, and cats and humans have enjoyed a mostly symbiotic relationship for thousands of years. But the quips do illuminate a very real ambivalence in the long relationship between cats and humans, as this history of the house cat shows.

    The Mystery of the Ancient House Cat
    
    It has taken a while for scientists to piece together the riddle of just when and where cats first became domesticated. One would think that the archaeological record might answer the question easily, but wild cats and domesticated cats have remarkably similar skeletons, complicating the matter. Some clues first came from the island of Cyprus in 1983, when archaeologists found a cat's jawbone dating back 8,000 years. Since it seemed highly unlikely that humans would have brought wild cats over to the island (a "spitting, scratching, panic-stricken wild feline would have been the last kind of boat companion they would have wanted," writes Desmond Morris in Catworld: A Feline Encyclopedia), the finding suggested that domestication occurred before 8,000 years ago.
    
    In 2004, the unearthing of an even older site at Cyprus, in which a cat had been deliberately buried with a human, made it even more certain that the island's ancient cats were domesticated, and pushed the domestication date back at least another 1,500 years.
    
    Just last month, a study published in the research journal Science secured more pieces in the cat-domestication puzzle based on genetic analyses. All domestic cats, the authors declared, descended from a Middle Eastern wildcat, Felis sylvestris, which literally means "cat of the woods." Cats were first domesticated in the Near East, and some of the study authors speculate that the process began up to 12,000 years ago.
    
    </p>
</div>
    

<body>
<h1></h1>
<h2></h2>
</body>
</html>




</body>
</html>
{% endblock %}